.app-header {
  height: 3.25rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.app-header--heading {
  display: flex;
  flex: 1;
}

.app-header--heading img {
  display: block;
}

.app-header--heading h1 {
  font-size: 1.5em;
}

.app-header a {
  color: white;
  text-decoration: none;
}

.app-header--container {
  display: flex;
  align-items: center;
}

.app-header--logo {
  margin-right: .5em;
}

ul.app-header--menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.app-header--menu li {
  display: flex;
  flex-direction: column;
}

.app-header--menu li a {
  line-height: 3.25rem;
  padding: 0 1em;
  flex: 1;
}
