@import 'palette';

body, label, button {
    font-family: "Helvetica", "sans-serif";
    font-weight: 300;
    background: url(../images/background.png);
}

h1, h2, h3, h4, h5 {
    font-family: "Arvo", "Helvetica", "sans-serif";
    font-weight: 500;
}

#StopFinder {
    fieldset {
        border: 0 none;
    }
}